/* Reset some default styles for a clean slate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --c1: #203961;
    --c2: #008BE3;
    --c3: #f5f5f5;

}

/* Basic styling for the navigation bar */
.navbar {
    background-color: var(--c1);
    color: var(--c3);
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: var(--c3);
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--c3);
}

/* Styling for the main content area */
main {
    min-height: 80vh;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--c1);
}

.animation-box img {
    width: auto;
    height: 150px;
    border-radius: 100%;
    margin: 10px auto;
    animation: scaleAnimation 2s ease-in-out infinite alternate;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0.7);
        transform: rotate(60deg);
    }

    100% {
        transform: scale(1.2);
        transform: rotate(-60deg);
    }
}

/* Styling for the footer */
.footer {
    background-color: var(--c1);
    color: var(--c3);
    text-align: center;
    padding: 10px 0;
}